ion-icon{
    font-size: 2rem;
}
.listSlides{
    padding: 0px;
    padding-top: 30px;

    img{
      border-radius: 10px;
      min-height: 500px;
      max-height: 500px;
      box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
    }
  }