<ion-content>
  <ion-icon name="arrow-back-outline" color="dark" class="ion-padding" routerLink="/home"></ion-icon>
  <div class="main-div ion-padding">
    <h1 class="ion-padding">Sobre</h1>
  <ion-slides class="listSlides" [options]='slideOpts3' pager="true">
    <ion-slide>
      <div>
        <img src="../../assets/img/001.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/img/002.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/img/004.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div >
        <img src="../../assets/img/005.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div >
        <img src="../../assets/img/008.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/img/006.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div >
        <img src="../../assets/img/010.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div >
        <img src="../../assets/img/007.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/img/009.png">
      </div>
    </ion-slide>
  </ion-slides> 
  </div>
</ion-content>
