<ion-content class="ion-padding">
  <div class="fundo">
    <div id="logo">
      <img src="../../../assets/img/grufoodnbg.png" alt=""><br><br><br>
      <div class="container ion-text-center">
        <span id="logg">Login</span>
      </div>
    </div> 
    
    
    <div id="cad" class="container ion-text-center">
      <span (click)='signup()'>Não possui uma conta? <ion-text color='primary'>Clique aqui</ion-text>
      </span>
    </div>
    <div class="container ion-text-center">
        <span>O aplicativo para te ajudar a encontrar o lugar perfeito para sua refeição em Guarulhos!</span>
    </div>
  </div>
  
  <div class="form">
    
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]='email' ></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]='password'></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">
          Entrar
        </ion-button>
        
      </div>
      

</ion-content>